.Container {
  padding: 15px 25px;
  display: flex;
  background-color: #bbdefb;
  align-items: center;
  justify-content: space-between;
}
.InputContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.InputContainer input {
  outline: none;
  width: 400px;
  padding: 6px;
  border: none;
  border-radius: 4px;
}
.addBtn {
  padding: 6px 10px;
  border: none;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  align-items: center;
}
.searchTitle {
  font-weight: 600;
  color: #1565c0;
  font-size: 1rem;
}
.buttonContainer {
  display: flex;
  gap: 20px;
}
.deleteBtn {
  padding: 6px 10px;
  border: none;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  align-items: center;
}
