.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.Container {
  width: min(700px, 92vw);
  height: 200px;
  background-color: #1c4d8d;

  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #bde8f5;
}

.textContainer {
  text-align: center;
  margin-top: 0px;
}

.modalText {
  font-size: 1.2rem;
  font-weight: 600;
  color: #bde8f5;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.deleteButton,
.cancelButton {
  width: 100px;
  height: 40px;
  background-color: #bde8f5;
  color: #1c4d8d;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
