.Container {
  margin: 0px auto 0px auto;
  width: 100%;
  max-width: 1200px;
}

.toast {
  position: fixed;
  top: 80px;
  right: 24px;

  padding: 12px 16px;
  border-radius: 10px;

  background-color: #35c143;
  color: #c7fab4;
  font-size: 14px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  z-index: 9999;

  animation: toastIn 0.2s ease-out;
}

@keyframes toastIn {
  from {
    transform: translateY(8px);
    opacity: 0.6;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
